<ion-header>
  <ion-toolbar color="primary">
     <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Shipping Information</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- Form for shipping information -->
  <form [formGroup]="shipping_information">
    <!-- Step 2 of the Progress Bar -->
    <div>
      <ion-icon color="primary" class="pass" name="car-sport"></ion-icon>
      <ion-icon color="primary" class="shipping" name="mail-outline"></ion-icon>
      <ion-icon color="primary" class="payment" name="card-outline"></ion-icon>
      <ion-icon color="primary"class="review" name="checkmark-circle-outline"></ion-icon>
      <ion-progress-bar color="primary" value="0.40"></ion-progress-bar>
      </div>
    <br>
    
    <ion-label class="margin">Name:</ion-label>
    <ion-item>
      <ion-input formControlName="shipping_name"></ion-input>
    </ion-item>

    <ion-label>Street Address:</ion-label>
    <ion-item>
      <ion-input formControlName="street_address"></ion-input>
    </ion-item>

    <ion-label>Apartment Number:</ion-label>
    <ion-item>
      <!-- Change this to be three years from the current year -->
      <ion-input formControlName="apt_number"></ion-input>
    </ion-item>

    <ion-label>City:</ion-label>
    <ion-item>
      <ion-input formControlName="city"></ion-input>
    </ion-item>

    <ion-label>State</ion-label>
    <ion-item>
      <ion-input formControlName="state"></ion-input>
    </ion-item>

    <ion-label>Country</ion-label>
    <ion-item>
      <ion-input formControlName="country"></ion-input>
    </ion-item>

    <ion-label>Zip Code:</ion-label>
    <ion-item>
      <ion-input formControlName="shipping_zip_code"></ion-input>
    </ion-item>
  
    <!-- User can opt to pick the pass up from parking services rather than having it shipped -->
    <ion-item>
      <ion-label>Pick up from Parking Services</ion-label>
      <ion-checkbox checked="true" formControlName="pick_up_pass"></ion-checkbox>
    </ion-item>

  </form>
</ion-content>
<!-- Submit the shipping information to the goToPayment() function -->
<ion-button class="submit-btn" expand="block" type="submit" (click)="goToPayment(shipping_information.value)">Continue to Payment</ion-button> 