<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="changePasswordForm" (submit)="changePassword(changePasswordForm.value)">
    <ion-item>
      <ion-label color="primary" position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Old Password</ion-label>
      <ion-input type="password" formControlName="oldPassword" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">New Password</ion-label>
      <ion-input type="password" formControlName="newPassword" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Confirm New Password</ion-label>
      <ion-input type="password" formControlName="confirmNewPassword" required></ion-input>
    </ion-item>
<ion-item>
    <ion-row>
      <ion-col> 
        <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!changePasswordForm.valid">Change Password</ion-button>
      </ion-col>
    </ion-row>
</ion-item>
  </form>
</ion-content>

<!-- FacStaff = Faculty OR Staff (Currently two selection options routing to same usertype) -->
    <!-- <ion-item>
      <ion-label>Select Position:</ion-label>
      <ion-select multiple = "false" cancelText = "Cancel" okText="Confirm" formControlName="usertype">
        <ion-select-option value = "Student">Undergraduate Student</ion-select-option>
        <ion-select-option value = "Grad">Graduate Student</ion-select-option>
        <ion-select-option value = "Alumni">Alumni</ion-select-option>
        <ion-select-option value = "FacStaff">Faculty</ion-select-option> 
        <ion-select-option value = "FacStaff">Staff</ion-select-option>
      </ion-select>
    </ion-item> -->

    <!-- <ion-item> // Checkbox user type selection method
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-checkbox color="primary"></ion-checkbox>
            <ion-label>Student</ion-label>
          </ion-col>
          <ion-col>
            <ion-checkbox color="primary"></ion-checkbox>
            <ion-label>Alumni</ion-label>
          </ion-col>
          <ion-col>
            <ion-checkbox color="primary"></ion-checkbox>
            <ion-label>FacStaff</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item> -->
