<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Add a Parking Permit </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="margin">
  <form [formGroup]="permit_information">
    
    <ion-label class="margin">Type</ion-label>
    <ion-item>
      <ion-input formControlName="type"></ion-input>
    </ion-item>

    <ion-label> Garage Name </ion-label>
    <ion-item>
      <ion-input formControlName="garage_name"></ion-input>
    </ion-item>

    <ion-label> Expiration Date: </ion-label>
    <ion-item>
      <!-- Change this to be three years from the current year -->
      <ion-datetime displayFormat="MM/YYYY" formControlName="expire" pickerFormat="MMMM YYYY" max="2999"></ion-datetime>
    </ion-item>

  </form>
</ion-content>

<ion-button class="submit-btn" expand="block" type="submit" (click)="submit(permit_information.value)"> Add It! </ion-button> 
