<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="home" routerDirection="forward"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <agm-map style="width: 100%; height: 100%;" [latitude]="33.989545" [longitude]="-81.029284" [zoom]="zoom">
    <agm-marker [latitude]="33.989545" [longitude]="-81.029284" label="LotSpotter HQ"></agm-marker>
    <agm-marker  *ngFor="let pin of pins" [latitude]="pin.lat" [longitude]="pin.long" [label]="pin.spots"
                  (markerClick)="toLot(pin.name)">
      <!--<agm-info-window #infoWindow>
        <strong>HI</strong> 
      </agm-info-window>-->
    </agm-marker>
  </agm-map>
</ion-content>


