.format{
    margin-left: 10px;
    color: black;
}

ion-select{
    color: black;
}

.pass{
    position: relative;
    font-size: 2em;
    left: 17%;
  }
.shipping{
    position: relative;
    font-size: 2em;
    left: 28%;
}
.payment{
    position: relative;
    font-size: 2em;
    left: 40%;
}
.review{
    position: relative;
    font-size: 2em;
    left: 50%;
}
