<ion-header>
  <ion-toolbar color="primary">
     <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Payment Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="margin">
  <form [formGroup]="payment_information">
    <div>
      <ion-icon color="primary" class="pass" name="car-sport"></ion-icon>
      <ion-icon color="primary" class="shipping" name="mail"></ion-icon>
      <ion-icon color="primary" class="payment" name="card-outline"></ion-icon>
      <ion-icon color="primary"class="review" name="checkmark-circle-outline"></ion-icon>
      <ion-progress-bar color="primary" value="0.60"></ion-progress-bar>
      </div>
    <br>
    <ion-label class="margin">Name on Card:</ion-label>
    <ion-item>
      <ion-input formControlName="card_name"></ion-input>
    </ion-item>

    <ion-label>Card Number:</ion-label>
    <ion-item>
      <ion-input formControlName="card_number"></ion-input>
    </ion-item>

    <ion-label>Expiration Date:</ion-label>
    <ion-item>
      <!-- Change this to be three years from the current year -->
      <ion-datetime displayFormat="MM/YYYY" formControlName="exp_date" pickerFormat="MMMM YYYY" [min]="this.minDate" [max]="this.maxDate"></ion-datetime>
    </ion-item>

    <ion-label>CVV:</ion-label>
    <ion-item>
      <ion-input formControlName="cvv"></ion-input>
    </ion-item>

    <ion-label>Zip Code:</ion-label>
    <ion-item>
      <ion-input formControlName="card_zip_code"></ion-input>
    </ion-item>
  

  </form>
</ion-content>

<ion-button class="submit-btn" expand="block" type="submit" (click)="goToReview(payment_information.value)">Review Order</ion-button> 
